/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
/*ol, ul {
	list-style: none;
}*/
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/*****end of reset****************************/

/******CSS main*************/

* {
	margin: 0;
}

html, body {
	height: 100%;
}

body {
	font-family: "nyt-cheltenham", georgia, "times new roman", times, serif;
	color: #333;
	font-size: 11px;
	background-color: #fff;
	min-height: 100%;
	height: auto !important;
	margin: 0;
	padding: 0;
}


#shell, header, #popular-articles {
	box-shadow: -1px 0 4px 0 #c0c0c0;
	border-right: 1px solid #c0c0c0;
	border-left: 1px solid #c0c0c0;
	max-width: 1605px;
	width: 100%;
	position: relative;
	margin: 0 auto;
}

a {
	color: #333;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 34px;
	font size: 1.5rem;
	font font-weight: 700;
	font-style: italic;
	border-bottom: 1px solid #c0c0c0;
	padding-bottom: 15px;
}


h4 {
	text-transform: uppercase;
	font-size: 13px;
}

h2 {
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

li {
	display: inline-block;
}

p {
	font-size: 16px;
	font-size: 1rem;
	font-family: georgia, "times new roman", times, serif;
	padding: 10px 0;
}

/* style the header and all of its elements */

header {
	position: fixed;
	height: 60px;
	vertical-align: middle;
	text-align: center;
	overflow: hidden;
	z-index: 999;
	top: 0;
	background-color: #fff;
}

button {
	text-transform: uppercase;
	border-radius: 3px;
	font-weight: 700;
	height: 30px;
	font-size: 11px;
	font-family: "nyt-franklin", arial, helvetica, sans-serif;
	background-color: #fff;
	margin: 10px;
	vertical-align: middle;
	
}

button:hover {
	background-color: #f0f0f0;
}

#sections-button {
	box-shadow: 0 3px 2px 0
		rgba(0, 0, 0, 0.06),
		inset -1px -1px 1px 0 rgba(0, 0, 0, 0.02);
	border-color: #cecece;
}

#logo {
	margin: 10px;
}

#logo, button {
	vertical-align: middle;
}

#home-button, #search-button, #settings-button {
	border: none;
}

#subscribe-button, #log-in-button {
	background-color: #6288a5;
	border: 1px solid #4d7b9f;
	color: #fff !important;
	font-weight: bold;
}

#settings-button {
	margin-right: 20px;
}

#left-nav-group, #right-nav-group {
	position: relative;
}

#left-nav-group {
	float: left;
}

#right-nav-group {
	float: right;
}

.button-image, .button-text {
	float: left;
	padding: 2px;
	margin: auto;
}


/***style the popular articles thumbnail area***/

#popular-articles {
	vertical-align: middle;
	height: 80px;
	margin-top: 60px;
}


h3.kicker {
	text-transform: uppercase;
	font-weight: 200;
	font-size: 9px;
	font-style: "nyt-franklin", Arial, helvetica, sans-serif;
	margin-bottom: 2px;
}

h2.story-header {
	font-weight: 200;
	font-size: 13px;
}

.article-snip {
	width: 240px;
	height: 64px;
	border-right: 1px solid #a0a0a0;
	margin: 5px;
}

.kicker-header, .article-thumb {
	float: left;
	padding: 2px;
	margin: auto;
}

.kicker-header {
	max-width: 150px;
	margin: 5px;
}


/***style the section and all of its elements***/

section	{
	position: relative;
	width: 95%;
	margin: 60px auto 0 auto;
}

.article-section, #end-caption {
	margin-left: 10%;
}

#kicker-label {
	font-family: "nyt-franklin", arial, helvetica, sans-serif;
	border-top: 1px solid #333;
	padding: 5px 0 20px 0;
}

.author {
	text-transform: uppercase;
	font-weight: bold;
}

#byline {
	margin: 10px 10px 10px 0;
}


.pub-date, .author {
	display: inline-block;
}

.article-section {
	width: 50%;
	max-width: 540px;
	min-width: 300px;
}

.image-wrapper {
	border-top: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
	padding: 20px 0;
}

.image-intro {
	font-size: 12px;
	font-weight: 400;
	font-family: "nyt-cheltenham-sh", georgia, "times new roman", times, serif;
}

#alan-guth-image, #space-ripples-image, caption, #vid-content-wrapper {
	max-width: 1065px;
	width: 100%;
}

#antarctica-image {
	max-width: 540px;
	width: 100%;
}


iframe {
	margin-left: 8%;
	margin-bottom: 20px;
}

iframe, #vid-caption-box {
	display: inline-block;
	float: left;
}

#vid-caption-box {
	position: relative;
	width: 100px;
	margin: 245px 0 0 5px;
}

#end-caption {
	max-width: 1065px;
}

#space-ripples-caption {
	border-bottom: 1px solid #333;
}
caption {
	margin-bottom: 30px;
	font-size: 13px;
	color: #808080;
	font-style: "nyt-cheltenham-sh", georgia, "times new roman", times, serif;
}

.sub-caption {
	color: #333;
	font-size: 9px;
}

img {
	margin-bottom: 10px;
}

